/* CHANGE THIS TO YOUR USERNAME */
@import "/home/kasey/.cache/wal/colors-waybar.css";

* {
    all:unset;
    font-family: JetBrains Mono;
    font-size: 12px;
}

window#waybar {
    background-color: alpha(@background, 0.75); 
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    border: none;
    border-radius: 0;
}
#tags button {
    background-color: transparent;
    color: @foreground;
	padding: 2px 6px 1px 6px;
}

#tags button.focused {
    color: @color6;
}

#tags button.urgent {
    background-color: @color10;
}

/*.modules-left > widget:first-child > #tags {
    margin-left: 0;
}*/

tooltip {
    background: @background;
	border: 1px solid @color12;
}

tooltip label {
    color: @foreground;
}

#tray menu {
    padding: 1px;
	border: 1px solid @color1;
    background: @background;
    color: @foreground;
}

#tray menu menuitem {
    padding: 0 4px 0 4px;
    background: @background;
    color: @foreground;
}

#tray menu menuitem:hover {
    background: @color1;
    color: @background;
}
